*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    width: 100%;
    background-image: url("images/bakgrund.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.info-card{
    padding: 2rem;
    width: 80%;
    height: auto;
    background-color: rgb(237, 237, 237);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

h1{
    margin-top: 2rem;
}

ol{
    margin-left: 2rem;

}

li{
    padding: 0.3rem;
}

h3{
    padding:1rem;
}

p{
    padding: 1rem;
}

.link-analysis{
    padding: 0.5rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    width: 5rem;
    background-color: rgb(20, 79, 38);
    border-radius: 5px;
    align-items: center;
    text-align: center;
    transition: background-color ease 0.3s;

    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.link-analysis:hover{
    background-color: rgb(24, 95, 45);
}